.review {
  margin-top: calc(var(--review_top_mrg)*1px);
  margin-left: calc(var(--review_left_mrg)*1px);
  --items_left: calc(var(--review_par_leftmrg)*1px);
  --items_width: calc(var(--review_width)*1px);
  align-self: flex-start;
  text-align: left;
}                                                                                                                                                                               /* border-color:blueviolet; border-style: dashed; */