.sightseeings__title {
  margin: 0;
  margin-left: var(--items_left);
  margin-right: var(--items_right);
  max-width: var(--items_width);
  min-height: calc(var(--sight_rev_titlehgt)*1px);
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}                                                                                                                                                                                                      /* border: 2px dotted deepskyblue; */