.conclusion__title {
  margin: 0 auto;
  margin-left: calc(var(--concl_title_left)*1px);
  margin-right: calc(var(--concl_title_right)*1px);
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
}                                                                                                                                                                                                    /* border: 2px dotted deepskyblue; */

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .conclusion__title {
    margin-left: calc(var(--concl_title_left)/var(--page_width)*100%);
    width: calc(var(--concl_title_width)*1px);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .conclusion__title {
    padding-top: 6px;
    font-size: 32px;
    line-height: 35px;
  }
}