.logo__image {
  margin: 0;
  width: calc(var(--logo_width)*1px);
  height:calc(var(--logo_height)*1px);
}                                                                                                                                                                                            /* border-color:blueviolet; border-style: dashed; */