.conclusion {
  margin-top: calc(var(--conclusion_top)*1px);
  margin-left: calc(var(--conclusion_left)*1px);
  margin-right: calc(var(--conclusion_right)*1px);
  max-width: calc(var(--conclusion_width)*1px);
  height: calc(var(--conclusion_height)*1px);
  background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), var(--conclusion_2baycal_image);
  background-size: cover;
  background-repeat: no-repeat;
}                                                                                                                                                                                   /* border-color: turquoise; border-style: solid; */

.conclusion:hover {
  background-image: linear-gradient(rgba(42, 44, 47, 0.7), rgba(42, 44, 47, 0.7)), var(--conclusion_2baycal_image);
}