.footer__author {
  margin: 0;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}                                                                                                                                                                                          /* border-color: turquoise; border-style: solid; */