.content {
  margin-top: calc(var(--content_top)*1px);
  margin-left: calc((var(--travel_berth_sidemgr)/3)*1px);
  margin-right: calc((var(--travel_berth_sidemgr)/3)*1px);
}                                                                                                                                                                                            /* border-color: red; border-style: solid; */