.travel {
  max-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}                                                                                                                                                                                              /* border-color: turquoise; border-style: solid; */