.table__cell {
  margin-left:calc(var(--table_left)/4*1px);
  margin-right: calc(var(--table_right)/4*1px);
  margin-bottom: calc(var(--table_cell_bot)*1px);
  display: grid;
  grid-template-columns: var(--table_img_col) var(--table_txt_col);
  grid-template-rows: auto;
  row-gap: calc(var(--table_rowgap)*1px);
  column-gap: calc(var(--table_colgap)*1px);
}                                                                                                                                                                                                         /* border: 2px dotted deepskyblue; */

.table__cell:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .table__cell {
    grid-template-columns: 100fr;
  }
}