.sightseeings__ref-info {
  margin: 0;
  margin-top: calc(var(--sight_rev_reftop)*1px);
  margin-left: var(--items_left);
  margin-right: var(--items_right);
  padding: 0;
  width: var(--items_width);
  min-height: (var(--sight_rev_refhgtcalc)*1px);;
  list-style-type: none;
}                                                                                                                                                                                    /* border: 2px dotted deepskyblue; */