.page {
  margin: 0;
  max-width: calc(var(--page_width)*1px);
  font-family: 'Inter';
  color: white;
  background-color: #2A2C2F;
  /* ---------------------------- General config ---------------------------- */
  --conclusion_2baycal_image: url(./../../images/conclusion/conclusion_tobaycalbydogs.jpg);
  --page_width: 1280;
  --default_section_top: 92;
  --default_section_left: 48; 
  /* ---------------------------- Header config ---------------------------- */
  --logo_top_marg: 28;
  --logo_side_marg: var(--default_section_left);
  --logo_width: 176;
  --logo_height: 52;
  --logo_link_topmarg: 46;
  --logo_link_width: 30;
  --logo_link_height: 28;
  --logo_link_gap: 18;
  --head_title_topmrg: 56;
  --head_title_sidemgr: 280;
  --head_title_height: 200;
  --head_subtitle_topmrg: 32;
  --head_subtitle_sidemgr: 320;
  --head_subtitle_botmrg: 64;
  --head_subtitle_height: 72;
  --head_berth_sidemgr: 148;
  --head_berth_width: 984;
  --head_berth_height: 615;
  --head_picap_topmrg: 8;
  --head_picap_leftmrg: var(--head_berth_sidemgr);
  --head_picap_height: 14;
  --header_height: calc(var(--logo_top_marg) + var(--logo_height) + var(--head_title_topmrg) + var(--head_title_height) + var(--head_subtitle_topmrg) + var(--head_subtitle_height) + var(--head_subtitle_botmrg) + var(--head_berth_height) + var(--head_picap_topmrg) + var(--head_picap_height) + 64);
  /* ---------------------------- Content config ---------------------------- */
  --content_top: var(--default_section_top);
  --sight_rev_left: 148;
  --sight_rev_right: 442;
  --sight_rev_width: 690;
  --sight_rev_titlehgt: 58;
  --sight_rev_partop: 40;
  --sight_rev_parhgt: 208;
  --sight_rev_reftop: 33;
  --sight_rev_refhgt: 90;
  --sight_items_top: var(--default_section_top);
  --sight_items_left: var(--default_section_left);
  --sight_items_right: var(--sight_items_left);
  --num_gricols:4;
  --sight_table_gap: 16;
  --sight_image_width: 284;
  --sight_image_hight: 213;
  --places_top: var(--default_section_top);
  --table_left: 148;
  --table_right: var(--table_left);
  --table_cell_bot: 80;
  --table_img_col: 49fr;
  --table_txt_col: 51fr;
  --table_colgap: 40;
  --table_rowgap: 48;
  --table_lnk_bot: 12;
  --table_prg_bot: 28;
  --conclusion_top: var(--default_section_top);
  --conlusion_left: var(--default_section_left);
  --conlusion_right: var(--conlusion_left);
  --conclusion_width: calc(var(--page_width) - var(--conlusion_right) - var(--conlusion_left));
  --concl_title_top: 245;
  --concl_title_left: 312;
  --concl_title_right: var(--concl_title_left);
  --concl_title_width: 560;
  --concl_title_height: 152;
  --concl_subtitle_top: 32;
  --concl_subtitle_width: 360;
  --concl_subtitle_height: 66;
  /* ---------------------------- Footer config ---------------------------- */
  --footer_top: var(--default_section_top);
  --footer_left: var(--default_section_left);
  --footer_right: var(--footer_left);
  --footer_bot: 24;
  }