.table {
  margin: 0;
  padding: 0;
  margin-left: calc(var(--table_left)/2*1px);
  max-width: calc(var(--table_width)*1px);
  list-style-type: none;
}                                                                                                                                                                                           /* border-color:blueviolet; border-style: dashed; */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .table {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: calc(var(--table_align_gap)*1px);
  } 
}