.table {
  margin: 0 auto;
  padding: 0;
  margin-left:calc(var(--table_left)/4*1px);
  margin-right: calc(var(--table_right)/4*1px);
  list-style-type: none;
}                                                                                                                                                                                                     /* border-color:blueviolet; border-style: dashed; */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .table {
    margin-left: 0;
    margin-right: 0;
  } 
}