.header__subtitle {
  margin: 0;
  padding: 0;
  margin-top: calc((var(--head_subtitle_topmrg)/var(--header_height))*100%);
  margin-bottom: calc((var(--head_subtitle_botmrg)/var(--header_height))*100%);
  width: calc((1 - var(--head_subtitle_sidemgr)/var(--page_width)*2)*100%);
  height: calc((var(--head_subtitle_height)/var(--header_height))*100%);
  line-height: 36px;
  font-size: 30px;
  font-weight: 400;
}                                                                                                                                                                                            /* border-color: turquoise; border-style: solid; */