.review__ref-info {
  margin: 0 auto;
  margin-top: calc(var(--review_ref_topmrg)*1px);
  margin-left: var(--items_left);
  padding: 0;
  list-style-type: none;
}                                                                                                                                                                                      /* border: 2px dotted deepskyblue; */