.conclusion__link {
  min-height: calc(var(--conclusion_height)*1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--concl_subtitle_top)*1px);
  text-decoration: none;
  color: #fff;
}                                                                                                                                                                                                  /* border-color:blueviolet; border-style: dashed; */