.travel__upper-berth-img {
  max-width: calc(var(--travel_berth_width)*1px);
  max-height: calc(var(--travel_berth_height)*1px);
  align-self: flex-start;
  aspect-ratio: var(--berth-aspect);
  object-fit: cover;
}                                                                                                                                                                                                  /* border-color:blueviolet; border-style: dashed; */