.table__image {
  margin: 0;
  width: 100%;
  height: vw;
  object-fit: cover;
}                                                                                                                                                                                                                        /* outline: 1px solid red; */