.table__image {
  margin: 0;
  max-width: calc(var(--table_img_size)*1px);
  max-height: calc(var(--table_img_size)*1px);
  object-fit: cover;
}                                                                                                                                                                                          /* outline: 1px solid red; */