.review__paragraph {
  margin-top: calc(var(--travel_review_partop)*1px);
  margin-left: var(--items_left);
  margin-right: calc(var(var(--page_width)*1px) - var(--items_width) - var(--items_left));
  width: var(--items_width);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}                                                                                                                                                                                          /* border: 2px dotted deepskyblue; */
