.header__title {
  margin: 0;
  padding: 0;
  margin-top: calc((var(--head_title_topmrg)/var(--header_height))*100%);
  width: calc((1 - var(--head_title_sidemgr)*2/var(--page_width))*100%);
  height: calc((var(--head_title_height)/var(--header_height))*100%);
  line-height: 100px;
  font-size: 96px;
  font-weight: 900;
}                                                                                                                                                                                            /* border-color: turquoise; border-style: solid; */