.header__link-item {
}                                                                                                                                                                                              /* border-color:blueviolet; border-style: dashed; */

.header__link-item:hover {
  opacity: 0.8;
}                                                                                                                                                                 /* border-color:blueviolet; border-style: dashed; */